/* *{
    box-sizing:border-box;
    margin:0px;
    padding:0px;
    
} */
@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

body{
	font-size: 20px;
	font-family: 'Work Sans', sans-serif;
	color: #000000;
  font-weight: 300;
  text-align: center;
  background-color: #f3c621;
}
h1{
  font-weight: 300;
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  background-color: #444;
  color: #000000;
}
.question{
  font-size: 30px;
  margin-bottom: 10px;
}
.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}
.answers label{
  display: block;
  margin-bottom: 10px;
}
button{
  font-family: 'Work Sans', sans-serif;
	font-size: 22px;
	background-color: #f3d646;
	color: #000000;
	border: 0px;
	border-radius: .8rem;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
   
}
button:hover{
	background-color: #f7df6b;
    box-shadow: -1px 1px 46px -13px rgba(235,235,235,1);
    -webkit-box-shadow: -1px 1px 46px -13px rgba(235,235,235,1);
    -moz-box-shadow: -1px 1px 46px -13px rgba(235,235,235,1);
}





.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}
.quiz-container{
  position: relative;
  height: 200px;
  margin-top: 40px;
}
